{% extends 'base.html' %}
{% block body %}


<div class="container">
    <div class ="row">
         {% for i in film_list %}
         <div class="col-md-3"><br>
             <div class="card" style="width: 18rem;">
  <img class="" src="{{i.imgs.url}}" alt="Card image cap" height="250px">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text">{{i.desc}}</p>
    <a href="{% url 'filmapp:detail' i.id %}" class="btn btn-primary">View Details</a>
  </div>
</div>
         </div>
        {% endfor %}<br>
    </div>
</div>


{% endblock %}
